<template name="layout">
	<div class="ui left aligned container">
	    <div class="computer only ui five column stackable grid">
			{{# each books}}
				<div class="column">
					{{> book}}
				</div>
		  	{{ /each }}
		</div>
		<div class="tablet only ui three column stackable grid">
			{{# each books}}
				<div class="column">
					{{> book}}
				</div>
		  	{{ /each }}
		</div>
		<div class="mobile only ui one column stackable grid">
			{{# each books}}
				<div class="column">
					{{> book}}
				</div>
		  	{{ /each }}
		</div>
	</div>
</template>
