<template name="layout">
	<div class="ui left aligned container">
	    <div class="computer only fifteen column ui stackable grid">
			{{# each books}}
				<div class="three wide column">
					{{> book}}
				</div>
		  	{{ /each }}
		</div>
		<div class="tablet only fifteen column ui stackable grid">
			{{# each books}}
				<div class="five wide column">
					{{> book}}
				</div>
		  	{{ /each }}
		</div>
		<div class="mobile only fifteen column ui stackable grid">
			{{# each books}}
				<div class="five wide column">
					{{> book}}
				</div>
		  	{{ /each }}
		</div>
	</div>
</template>
