.ui.container {
	padding-top: 20px;
}

.loading-message {
  color: #333;
  font-size: 25px;
  font-family: Helvetica, Arial, Roboto, "Liberation Sans", sans-serif;
}

.sk-spinner-rotating-plane.sk-spinner {
  background-color: #333;
}
